/colorgram
/Day 16 OOP
/Day 17
/Day 18 COLORGRAM
/day 19
/day 20
/DAY 22 PONG
/day 23 crossing capstone
/Day 24 , File_handling
/Day 25 Panda and CSV
/Day 26 list comprehension
/Day 27 Tkinter introduction
/Day 28 Tkinter timelapse
/Day 29 Tkinter password generator
/Day 30 Exception Error
/Day 31 Learning language
/Day 32 Gmail-birthday
/Day 33 APIs
/Day 34 APIs and question app
/Day 35  Advance api's
/Day 36 stick news application
/Day 37 Pixela Habit tracker
/Day 38 Food tracker
/Day 39 & 40 fight tracker
/Day 41 Web development HTML
/Day 41-44 HTML and CSS
/Day 45 Beautiful Soap
/Day 46 Spotify Automator
/Day 47 Amazon automation
/Day 48 Selenium
/day 49 linkedin
/Day 54 Webdevelopment with Flask
/Day 55 Decorator and URLs
/Day 56 html in flask
/Day 57 Jinja
/Day 58 Web Foundation Bootstrap
/Day 59 BLOGING WEBSITE
/Day 60 HTML Form and flask
/Day 61 advance wth-forms
/Day 62
/Day 63 SQL lite
/Day 64 Automated blog
/Day 65 Api development
/Day 66
/snake game
/turtle module and directory