<!DOCTYPE html>
<html>
<head>
<title>404 Page Not Found</title>
<style>
body {
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
}

img {
  width: 500px;
  margin: 0 auto;
}

p {
  text-align: center;
  font-size: 16px;
}
</style>
</head>
<body>
<h1>404 Page Not Found</h1>
<img src="https://coschedule.com/content/uploads/2020/02/404-page-not-found.gif" alt="Snow Dogs 404 error page">
<p>Looks like this page went on vacation.</p>
<p><a href='url_for("")'>Homepage</a> | <a href="https://coschedule.com/blog/">Blog</a></p>
</body>
</html>
